.contact
  padding: 0

  &__header
    margin-bottom: 3rem

  &__wrapper
    display: flex
    position: relative
    justify-content: center

  &__info
    margin-bottom: 1.5rem
    font:
      size: 1.8rem
      weight: 400


  &__data
    position: absolute
    top: 50%
    max-width: 290px
    transform: translateY(-50%)
    z-index: -10

  &__number
    padding: 20px 0
    background: linear-gradient(to bottom right, $purple, $orange)
    color: $orange
    font:
      size: 3.2rem
      weight: 700
    -webkit-background-clip: text //sass-lint:disable-line no-vendor-prefixes
    -webkit-text-fill-color: transparent //sass-lint:disable-line no-vendor-prefixes
    word-break: break-all

  &__copy-number
    position: relative
    color: $purple-dark
    font-weight: 700

    &:after
      display: block
      position: absolute
      top: -4rem
      left: -11rem
      width: 18rem
      padding: .5rem
      border-radius: 5px
      background: $modal-color1
      color: $white
      text-align: center
      content: 'Skopiowano'
      opacity: 0
      pointer-events: none

    &:before
      display: block
      position: absolute
      top: -.9rem
      left: 1rem
      border: 10px  solid
      border-color: $modal-color1 transparent transparent
      content: ''
      opacity: 0
      pointer-events: none

    &:hover
      cursor: pointer

    &--animated
      &:after,
      &:before
        animation-duration: 2s
        animation-fill-mode: forwards
        animation-name: toggle-tooltip

  &__cv
    position: relative
    top: 50%
    left: 50%
    padding: 3rem 0
    transform: translate(-50%, -50%)
    text-align: center

  @media screen and (min-width: $screen-sm)
    padding-bottom: 7rem

    &__info
      margin-bottom: 4.5rem

    &__copy-number
      &:after
        top: -4rem
        left: -3rem

      &:before
        top: -.9rem
        left: 0
