.projects
  padding: 5rem 0

  &__wrapper
    position: relative
    width: 100%
    height: 15rem
    margin: 1rem 0
    border-right: $projects-border-width solid $orange
    border-left: $projects-border-width solid $purple
    border-radius: 5px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    overflow: hidden

    &:after,
    &:before
      display: block
      position: absolute
      width: 100%
      height: $projects-border-width
      border-radius: inherit
      background: linear-gradient(to right, $purple, $orange)
      content: ''

    &:before
      bottom: 0

    &:hover
      .projects__overlay:after
        transform: rotate(45deg) translate(-1rem, 1rem)

      .projects__overlay:before
        transform: rotate(45deg) translate(1rem, -1rem)


    &--cuda
      background-image: url('../img/cuda.png')

    &--weather
      background-image: url('../img/check_weather.png')

    &--npod
      background-image: url('../img/check_npod.png')

    &--news
      background-image: url('../img/news.png')

    &--portfolio
      background-image: url('../img/portfolio.png')

    &--chess
      background-image: url('../img/chess_api.png')

    &--form-builder
      background-image: url('../img/form_builder.png')

    &--thrombosis
      background-image: url('../img/thrombosis.png')

  &__link
    color: $orange
    text-decoration: none

    &:hover
      color: darken($orange, 10%)

  &__overlay
    &:after,
    &:before
      display: block
      position: absolute
      width: 10rem
      height: 10rem
      transform: rotate(45deg)
      transition: all .3s
      background: $purple
      content: ''

    &:after
      top: -5rem
      left: -7rem

    &:before
      right: -7rem
      bottom: -5rem
      background: $orange

  &__caption
    color: $purple-dark
    font:
      family: 'Titillium Web', sans-serif
      size: 1.8rem
    line-height: 2.4rem

  @media screen and (min-width: $screen-sm)
    &__wrapper
      height: 25rem
      margin-top: 2rem
