.technologies
  padding: 5rem 0
  background-color: $yellow

  &__heading
    margin-bottom: 2rem
    text-align: center

  @media screen and (min-width: $screen-lg)
    padding: 7rem 0

    &__heading
      margin-bottom: 6rem
      text-align: left
