html
  font-size: 62.5%

  *
    margin: 0
    padding: 0
    box-sizing: border-box

  body
    background-color:  $background-color
    overflow-x: hidden

    h1
      font-family: TitilliumWeb, sans-serif
      font-size: 3.6rem
      text-align: center

    h2
      font-family: TitilliumWeb, sans-serif
      font-size: 2.4rem
