.move-out
  transform: translateY(-100%)

.move-in
  transform: translateY(0)

@keyframes hamburger-clockwise
  50%
    transform: translateY(15px)

  100%
    transform: translateY(15px) rotate(45deg)
    background: linear-gradient(to top right, $purple 25%, $orange)


@keyframes hamburger-anticlockwise
  50%
    transform: translateY(-15px)

  100%
    transform: translateY(-15px) rotate(-45deg)
    background: linear-gradient(to bottom right, $purple 25%, $orange)


@keyframes reveal-portrait
  0%
    transform: rotate(0)
    opacity: 1


  99.999%
    opacity: 1

  100%
    transform: rotate(-90deg)
    opacity: 0

@keyframes show-modal
  from
    opacity: 0

  to
    opacity: 1

@keyframes toggle-tooltip
  0%
    opacity: 0

  50%
    opacity: 1

  75%
    opacity: 1

  100%
    opacity: 0
