@mixin font-face($font-family, $font-style, $font-weight, $path, $font-type)
  @font-face
    font-family: $font-family
    font-style: $font-style
    font-weight: $font-weight
    src: url('#{$path}#{$font-family}-#{$font-type}.ttf') format('trutype'), url('#{$path}#{$font-family}-#{$font-type}.woff') format('woff'), url('#{$path}#{$font-family}-#{$font-type}.woff2') format('woff2'), url('#{$path}#{$font-family}-#{$font-type}.eot') format('eot'), url('#{$path}#{$font-family}-#{$font-type}.svg') format('svg')
