.btn__download
  display: inline-block
  position: relative
  padding: 2rem 5rem
  transition: all .5s
  border: $download-btn-border solid $purple-dark
  border-radius: 4px
  background: transparent
  color: $purple-dark
  font:
    family: 'Titillium Web', sans-serif
    size: 1.8rem
    weight: 700
  text-decoration: none

  &:after,
  &:before
    position: absolute
    width: 0
    height: 0
    transition: all .75s
    border-radius: 4px
    content: ''
    opacity: 0

  &:after
    top: -$download-btn-border
    left: -$download-btn-border
    border-top: $download-btn-border solid $orange
    border-left: $download-btn-border solid $orange

  &:before
    right: -$download-btn-border
    bottom: -$download-btn-border
    border-right: $download-btn-border solid $orange
    border-bottom: $download-btn-border solid $orange

  &:hover
    color: $orange

    &:after,
    &:before
      width: calc(100% + 2 * #{$download-btn-border})
      height: calc(100% + 2 * #{$download-btn-border})
      opacity: 1
