.glide
  cursor: pointer

  &__image
    width: 20rem

  &__slide
    position: relative
    height: auto
    text-align: center

  &__wrapper
    position: relative
    top: 50%
    transform: translate(0, -50%)

  &__caption
    margin-top: 2rem
    color: $purple-dark
    font:
      family: Titillium Web, sans-serif
      size: 1.8rem
      weight: 700


  &__arrow
    position: absolute
    top: 50%
    width: 30px
    height: 30px
    margin-top: -3rem
    border: 0
    border-radius: 50%
    outline: none
    background: linear-gradient(to bottom left, $purple, $orange)
    color: $white
    font-size: 24px
    font-weight: 700
    text-indent: -3px
    z-index: 10

    &:after,
    &:before
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding-top: 1px
      transition: all .5s
      border-radius: inherit
      background: linear-gradient(to top right, $purple, $orange)
      text-indent: 3px
      content: '>'
      opacity: 1
      z-index: 20

    &:before
      text-indent: -3px
      content: '<'

    &--left
      left: 20px

      &:after
        display: none

    &--right
      right: 20px
      text-indent: 3px

      &:before
        display: none

    &:hover
      cursor: pointer

      &:after,
      &:before
        opacity: 0
