.hamburger
  position: fixed
  top: 1.3rem
  right: 2rem
  width: 50px
  height: 40px
  z-index: 100

  &:hover
    cursor: pointer

  &__toggle
    position: absolute
    top: 15px
    width: 50px
    height: 10px
    border-radius: 5px
    background: linear-gradient(to bottom right, $purple 30%, $orange)

    &:before,
    &:after
      display: block
      position: absolute
      width: 50px
      height: 10px
      border-radius: 5px
      background: $purple
      content: ''

    &:before
      top: -15px

    &:after
      top: 15px
      background: $orange

  &--active
    .hamburger__toggle
      background: transparent

      &:before,
      &:after
        animation-duration: .5s
        animation-fill-mode: forwards
        animation-name: hamburger-anticlockwise
        mix-blend-mode: color

      &:before
        animation-name: hamburger-clockwise
