.icon
  display: block
  transition: all .3s
  color: $white
  font-size: 36px

  &.icon-facebook-official
    &:hover
      color: $facebook

  &.icon-linkedin-squared
    &:hover
      color: $linkedin

  &.icon-gitlab
    &:hover
      color: $gitlab

  &.icon-gmail
    &:hover
      color: $gmail
