.modal
  display: none
  position: fixed
  top: 50px
  max-width: 32rem
  margin: 1rem
  padding: 5rem
  border-radius: 5px
  background: linear-gradient(to bottom right, $modal-color1, $modal-color2)
  z-index: 110

  &__message,
  &__close
    color: $purple-dark
    font:
      family: 'Titillium Web', sans-serif
      size: 1.8rem
      weight: 700


  &__close
    display: flex
    position: absolute
    top: -10px
    left: -10px
    align-items: center
    justify-content: center
    width: 30px
    height: 30px
    border: 1px solid $grey-light
    border-radius: 50%
    background: $white

    &:hover
      cursor: pointer

  &--animated
    display: block
    animation-name: show-modal
    animation-timing-function: linear
    animation-fill-mode: forwards
    animation-duration: 1s

  @media screen and (min-width: $screen-sm)
    right: 50px
