.portrait
  display: flex
  flex-direction: column
  align-items: center

  &__photo
    display: block
    position: relative
    flex-shrink: 0
    width: 20rem
    height: 20rem
    border-radius: 50%
    background: url('../img/chessa.jpg') center center
    background-repeat: no-repeat
    background-size: cover

  &__overlay,
  &__overlay-special
    display: block
    position: relative
    bottom: 0
    left: 0
    width: 10rem
    height: 10rem
    background-color: $blue-light

  &__overlay-special
    background-color: transparent
    overflow: hidden

    &:after
      display: block
      position: absolute
      width: 10rem
      height: 10rem
      background-color: $blue-light
      content: ''

  &__overlay
    &:after,
    &:before
      display: block
      position: absolute
      top: 0
      left: 100%
      width: 10rem
      height: 10rem
      background-color: $blue-light
      content: ''

    &:before
      top: 100%
      left: 100%

  &__caption
    margin-top: 5rem
    color: $blue-dark
    font-size: 2.4rem
    text-align: center

  &__about
    margin-top: 2rem
    color: $black
    font-size: 1.8rem
    line-height: 2.4rem

  &--animated
    .portrait__overlay,
    .portrait__overlay:after,
    .portrait__overlay:before,
    .portrait__overlay-special:after
      transform-origin: bottom right
      animation-name: reveal-portrait
      animation-duration: $animation-portrait-duration
      animation-delay: 2*$animation-portrait-duration
      animation-fill-mode: forwards
      animation-timing-function: linear

    .portrait__overlay
      &:after
        transform-origin: bottom left
        animation-delay: $animation-portrait-duration

      &:before
        transform-origin: top left
        animation-delay: 0s

    .portrait__overlay-special
      &:after
        transform-origin: top right
        animation-delay: 3*$animation-portrait-duration

  @media screen and (min-width: $screen-sm)
    flex-direction: row
    justify-content: space-around

    &__about
      padding: 0 5rem
