.footer
  padding:
    bottom:  20px
  background: $purple-light
  text-align: center

  &__list
    display: flex
    justify-content: space-around
    margin: 0
    padding: 0
    list-style-type: none

  &__item
    position: relative
    padding:
      top: 20px
    transition: all .3s

    &:hover
      transform: scale(1.3)
