.navbar
  position: fixed
  width: 100vw
  transition: all 1s
  background-color: $navbar-bg
  font-size: 2.4rem
  opacity: .8
  z-index: 10

  &__list
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    padding: 1.5rem
    list-style-type: none

    &> li
      padding: .5rem 0

  &__link
    transition: all .3s
    color: $purple-light
    text-decoration: none

    &:hover
      color: $orange

  @media screen and (min-width: $screen-sm)
    &__list
      flex-direction: row

    &__caption
      margin-top: 0
